1590594770-1/Chapter07/SQLXML Sample/SQLXML/mapping schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sql="urn:schemas-microsoft-com:mapping-schema">
  <xs:element name="AuthorsXMLNew" sql:relation="AuthorsXMLNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="au_id" type="xs:string" sql:field="au_id" />
        <xs:element name="au_lname" type="xs:string" sql:field="au_lname" />
        <xs:element name="au_fname" type="xs:string" sql:field="au_fname" />
        <xs:element name="phone" type="xs:string" sql:field="phone" />
        <xs:element name="address" type="xs:string" sql:field="address" />
        <xs:element name="city" type="xs:string" sql:field="city" />
        <xs:element name="state" type="xs:string" sql:field="state" />
        <xs:element name="zip" type="xs:unsignedInt" sql:field="zip" />
        <xs:element name="contract" type="xs:unsignedByte" sql:field="contract" sql:datatype="bit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>